<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  </style>
<div class="dx-login text-center" style="display:none;">
  <div>
    <div class="white-text text-right" ng-click="openAdminLogin()">Admin Login</div>
  </div>
  <div class="margin-100-top">
    <!-- <img src="images/xseed_logo.png" width="75"> -->
    <h1 class="white-text">SCHOOL</h1>
    <section id="content" class="dx-login-content">
      <div class="dx-login-form">
        <div class="required-error text-danger" ng-if="loginApiErrorSchool">{{loginApiErrorSchool}}</div>
        <form action="">
          <div>
            <input type="text" ng-model="logindataschool.email" placeholder="Username" required="" id="username" />
          </div>
          <div>
            <input type="password" ng-model="logindataschool.password" placeholder="Password" required="" id="password" />
          </div>
          <!-- <div> -->
          <!--   <img src="images/animated.gif" ng-if="loginFromSchoolAppInProgress" class="submit-loaderschool">  
            <button class="login-submit" ng-click="loginFromSchoolApp($event,logindataschool)" ng-disabled="loginFromSchoolAppInProgress">Log In</button> -->
          <!-- </div> -->
        </form><!-- form -->
      </div>
      <!-- <a class="font-size-22 pull-right white-text btn-link btn">Forgot Password?</a> -->
    </section><!-- content -->
  </div>
</div>

<div class="modal fade" id="adminlogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="width:600px">
    <div class="loginmodal-container">
      <h1>Admin Login</h1><br>
      <div class="required-error text-danger" ng-if="loginApiErrorAdmin">{{loginApiErrorAdmin}}</div>
      <!-- <form name="loginform" ng-submit="loginFromAdmin(logindata)"> -->
        <input type="text" name="email" placeholder="Email" ng-model="logindata.email" placeholder="Username">
        <input type="password" name="password" placeholder="Password" ng-model="logindata.password" >
       <!--  <div class="sign-in-group">
          <img class="submit-loader" ng-if="loginFromAdminAppInProgress" src="images/animated.gif" >  
          <input type="submit" id="login-btn" class="login loginmodal-submit" value="Sign In" ng-disabled="loginFromAdminAppInProgress">
        </div> -->
      <!-- </form> -->
     <!--  <div class="login-help">
        <a href="#">Forgot Password</a>
      </div> -->
    </div>
  </div>
</div>



<div class="body-login">
<div class="wraper">
  <div class="header-top-section divfix-top">
    <div class="containercustom">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="header-phone">
            <ul>
              <li><img src="images/edificelogo.png" alt="service" style="width:55px;"></li>
              <!-- <li><i class="fa fa-phone" aria-hidden="true"></i>Toll free number 1800 102 7200</li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="header-address">
             <ul style="padding-top: 24px;">
              <li class="active"><a href="#/" class="header-font-family">HOME</a></li>
              <li><a ng-href="#/about" class="header-font-family" ng-click="goToDevPage()">SERVICES</a></li>
               <li><a ng-href="#/" class="header-font-family">GALLERY</a></li>
              <li><a ng-href="#/" class="header-font-family">ABOUT US</a></li>
              <li><a ng-href="#/" class="header-font-family">CONTACT US</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="header1-area header-two">
    <div class="header-top-area" id="sticker">
      <div class="containercustom">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="logo-area"> <a href="#"><img class="img-responsive" src="images/login/logo.png" alt="logo"></a> </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" align="right" style="margin-top:3%;font-size:18px;color:#bb141a"><button style="background-color: Transparent;border:none;"><span data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#myModal-1">SignIn</span></button></div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="margin-top:3%;font-size:18px;color:#bb141a" align="right"><button style="background-color: Transparent;border:none;"><span data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#myModal">Get In Touch </span></button> </div>
        </div>
      </div>
    </div>
  </div> -->

   <!-- Checkout Start Here -->
  <div class="check-out-area check-home-three" style="padding:0px">
    <!-- <div class="containercustom"> -->
      <!-- <h3 align="center">OUR APPS SCREENSHOTS</h3> -->
     <!--  <p align="center">Lorem ipsum dolor sit amet, ad dicit choro laboramus quo, utinam nominati atomorum in duo, <br>
        prompta menandri senserit a quo debitis deleniti sapientem ne.</p> -->
      <div class="carousel-reviews broun-block">
        <!-- <div class="containercustom"> -->
          <div class="row">
            <!-- <div class="container"> -->
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="margin-top: 56px;">
      <div class="item active">
        <img src="images/homeimages/slideN3.jpg" alt="Chania" width="100%" height="150" style="height:590px;">
      </div>

      <div class="item">
        <img src="images/homeimages/slide1.jpg" alt="Chania" width="100%" height="150" style="height:590px;">
      </div>

      <div class="item">
        <img src="images/homeimages/slide2.jpg" alt="Chania" width="100%" height="150" style="height:590px;">
      </div>
    
      <div class="item">
        <img src="images/homeimages/slideN4.jpg" alt="Chania" width="100%" height="150" style="height:590px;">
      </div>

       <div class="item">
        <img src="images/homeimages/LC7A3828.jpg" alt="Chania" width="100%" height="150" style="height:590px;">
      </div>
    </div>

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
<!-- </div> -->
            <!-- <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="col-md-3 col-sm-6"> <img src="images/login/screen-1.png" alt="service"> </div>
                  <div class="col-md-3 col-sm-6"> <img src="images/login/screen-2.png" alt="service"> </div>
                  <div class="col-md-3 col-sm-6"> <img src="images/login/screen-3.png" alt="service"> </div>
                  <div class="col-md-3 col-sm-6"> <img src="images/login/screen-4.png" alt="service"> </div>
                </div>
                <div class="item">
                  <div class="col-md-3 col-sm-6"> <img src="images/login/screen-5.png" alt="service"> </div>
                  <div class="col-md-3 col-sm-6 hidden-xs"> <img src="images/login/screen-6.png" alt="service"> </div>
                  <div class="col-md-3 col-sm-6 hidden-sm hidden-xs"> <img src="images/login/screen-3.png" alt="service"> </div>
                  <div class="col-md-3 col-sm-6 hidden-xs"><img src="images/login/screen-2.png" alt="service"> </div>
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div> -->
          </div>
        <!-- </div> -->
      </div>
    <!-- </div> -->
  </div>
  <!-- Checkout End Here --> 
  
  <!-- Header Area End Here -->   
  <!-- Slider 1 Area Start Here -->
 <!--  <div class="slider-default slider-overlay">
    <div class="bend niceties preview-1">
      <div id="ensign-nivoslider-3" class="slides"> <img src="images/login/slide1_1.jpg" alt="slider" title="#slider-direction-1"/> <img src="images/login/slide1_2.jpg" alt="slider" title="#slider-direction-2"/> <img src="images/login/slide1_3.jpg" alt="slider" title="#slider-direction-3"/> </div>
      <div id="slider-direction-1" class="t-cn slider-direction">
        <div class="slider-content s-tb slide-1 containercustom">
          <div class="title-container s-tb-c">
            <h1>XSEED Mini Campus</h1>
            <p>THE UNAFRAID CHILD
              WILL COMPETE IN THE 21ST CENTURY</p>
          </div>
        </div>
      </div>
      <div id="slider-direction-2" class="t-cn slider-direction">
        <div class="slider-content s-tb slide-2 containercustom">
          <div class="title-container s-tb-c">
            <h1>XSEED Mini Campus</h1>
            <p>THE UNAFRAID CHILD
              WILL COMPETE IN THE 21ST CENTURY</p>
          </div>
        </div>
      </div>
      <div id="slider-direction-3" class="t-cn slider-direction">
        <div class="slider-content s-tb slide-3 containercustom">
          <div class="title-container s-tb-c">
            <h1>XSEED Mini Campus</h1>
            <p>THE UNAFRAID CHILD
              WILL COMPETE IN THE 21ST CENTURY</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- Slider 1 Area End Here -->   
  <!-- Home Three service Start Here -->
  <div class="home-three-service" style="background: #D2AC67">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="single-service">
          <div class="service-media"> <a href="#"><img src="images/login/service2.jpg" alt="service"></a> </div>
          <div class="service-content">
            <h3><a>Our Aim</a></h3>
            <p>Edifice is a fast growing company committed to delivering the best Design, Build and Management to our customers in the field of Exhibitions, Interior and Office Furniture Fitouts. Our meticulously planned approach towards every project ensures that we are constantly delivering excellent quality within agreed deadlines and the budgetary specifications of the customer.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="single-service">
          <div class="service-media"> <a href="#"><img src="images/login/service1.jpg" alt="service"></a> </div>
          <div class="service-content">
            <h3><a>Mission</a></h3>
            <p>We take pride in the fact that each of our projects adds value to our customer’s products by the positive exposure we create. Every project is undertaken with the aim of making our client’s products and services gain maximum exposure with our creative designs. We strive to leave a long lasting impact on the end user while ensuring efficient management practices eliminate the stress for our customer during the project build.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="single-service">
          <div class="service-media"> <a href="#"><img src="images/login/service3.jpg" alt="service"></a> </div>
          <div class="service-content">
            <h3><a>Standards</a></h3>
            <p>Today, Edifice has successfully executed large projects covering more than 1300 square meters at single shows; High end stands for prestigious brands like Aston Martin and highly customized stands for Jewellery and high net worth products. Our range of experience covers automobile, real estate, jewellery, security products, defense, interior fittings, food and communication industries including cable and satellite</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Home Three service End Here -->   
  <!-- Recent case studies Start Here -->
  <div class="recent-case-two-style padding-top-bottom"  style="background-color:#243A72">
    <div class="containercustom animated slideInLeft ">
      <div class="row">
        <div class="col-md-5"> <span class="figure-image"> <img src="images/homeimages/school11.png"></span></div>
        <div class="col-md-7" align="left"><i class="fa fa-check-circle" aria-hidden="true" style="color:#bb141a"></i>We look forward to bringing our experience and professionalism to make your next project a Huge Success<br>
          <br>
          <i class="fa fa-check-circle" aria-hidden="true" style="color:#bb141a"></i> We look forward to bringing our experience and professionalism to make your next project a Huge Success<br>
          <br>
          <i class="fa fa-check-circle" aria-hidden="true" style="color:#bb141a"></i>We look forward to bringing our experience and professionalism to make your next project a Huge Success<br>
          <br>
          <i class="fa fa-check-circle" aria-hidden="true" style="color:#bb141a"></i>We look forward to bringing our experience and professionalism to make your next project a Huge Success<br>
          <br>
          <i class="fa fa-check-circle" aria-hidden="true" style="color:#bb141a"></i>We look forward to bringing our experience and professionalism to make your next project a Huge Success<br>
          <br>
          <i class="fa fa-check-circle" aria-hidden="true" style="color:#bb141a"></i>We look forward to bringing our experience and professionalism to make your next project a Huge Success<br>
        </div>
      </div>
    </div>
  </div>
  <!-- Recent case studies End Here -->   
  <!-- Online marketing needs Start Here -->
  <div class="online-marketing-needs padding-top-bottom" style="background-color:#D2AC67">
    <div class="containercustom">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="marketing-needs">
            <h2><span>Our Services</span></h2>
            <ul>
              <li>EDIFICE Exhibition Service</li>
              <li>EDIFICE School Interiors</li>
            </ul>
            <a class="ghost-btn" data-target="#myModal">Get In Touch </a> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class=""> <img src="images/homeimages/schoolnew.jpg" alt=""> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Online marketing needs End Here -->   
  <!-- Our working process Start Here -->
 <!--  <div class="our-working-process padding-two-top-bottom">
    <div class="containercustom">
      <div class="row">
        <div class="title-section">
          <h2>A LEARNING CLASSROOM<br>
            THE 5-STEP TEACHING METHOD</h2>
          <p>XSEED teachers begin a class by clearly stating the learning goal, ask children what they know already, demonstrate an experiment <br>
            or conduct a group activity, 
            let children speak before they do, ensure the “application questions” are done independently, <br>
            fiercely believe in practice, 
            assess daily, and support each child individually.</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">&nbsp;</div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="single-process-item">
            <div class="icon color1"> <img src="images/login/aim.png"></div>
            <div class="working-content">
              <h3><a href="#">Aim</a></h3>
              <p>Clarify the outcome of every lesson so students know beforehand what they will learn.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="single-process-item">
            <div class="icon color1"> <img src="images/login/action.png"></div>
            <div class="working-content">
              <h3><a href="#">Action</a></h3>
              <p>Perform an activity to experience concepts first-hand & understand their use and application in real life.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="single-process-item">
            <div class="icon color3"> <img src="images/login/analysis.png"></div>
            <div class="working-content">
              <h3><a href="#">Analysis</a></h3>
              <p>Reflect on the experience & ask probing questions to uncover and understand the concept further.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="single-process-item">
            <div class="icon color1"> <img src="images/login/applications.png"></div>
            <div class="working-content">
              <h3><a href="#">Application</a></h3>
              <p>Practice solving real world problems in the workbook to solidify understanding and build skills.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="single-process-item">
            <div class="icon color1"> <img src="images/login/assessment.png"></div>
            <div class="working-content">
              <h3><a href="#">Assessment</a></h3>
              <p>Get real-time feedback across conceptual understanding, applied thinking & english language fluency in order to improve performance.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">&nbsp;</div>
      </div>
    </div>
  </div> -->
  <!-- Our working process End Here -->   
  <!-- Counter section Start Here -->
<!--   <div class="counter-area">
    <div class="containercustom">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="counter-box">
            <div class="single-counter"> <a href="#" class="pull-left"> <i class="fa fa-empire" aria-hidden="true"></i> </a>
              <div class="media-body">
                <h3 style="color:#fff">1,000,000 </h3>
                <p>Students</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="counter-box">
            <div class="single-counter"> <a href="#" class="pull-left"> <i class="fa fa-slideshare" aria-hidden="true"></i> </a>
              <div class="media-body">
                <h3 style="color:#fff">100,000 </h3>
                <p>Teachers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="counter-box">
            <div class="single-counter"> <a href="#" class="pull-left"><i class="fa fa-university" aria-hidden="true"></i>
            </a>
              <div class="media-body">
                <h3 style="color:#fff">3000 </h3>
                <p>Schools</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="counter-box">
            <div class="single-counter"> <a href="#" class="pull-left"><i class="fa fa-sitemap" aria-hidden="true"></i>
            </a>
              <div class="media-body">
                <h3 style="color:#fff">8 </h3>
                <p>Countries</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Counter section End Here --> 
  <!-- Happy clients Start Here -->


  

<!--   <div class="happy-clients padding-top-bottom" style="background-color:#ffffff">
    <div class="container">
      <div class="title-section">
        <h2>Testimonial</h2>
      </div>
      <div class="check-out-area check-home-three">
      <div class="containercustom">
        <div class="carousel-reviews broun-block">
          <div class="containercustom">
            <div class="row">
              <div id="carousel-reviews1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-md-3 col-sm-6"> <img src="images/login/screen-1.png" alt="service"> </div>
                    <div class="col-md-3 col-sm-6"> <img src="images/login/screen-2.png" alt="service"> </div>
                    <div class="col-md-3 col-sm-6"> <img src="images/login/screen-3.png" alt="service"> </div>
                    <div class="col-md-3 col-sm-6"> <img src="images/login/screen-4.png" alt="service"> </div>
                  </div>
                  <div class="item">
                    <div class="col-md-3 col-sm-6"> <img src="images/login/screen-5.png" alt="service"> </div>
                    <div class="col-md-3 col-sm-6 hidden-xs"> <img src="images/login/screen-6.png" alt="service"> </div>
                    <div class="col-md-3 col-sm-6 hidden-sm hidden-xs"> <img src="images/login/screen-3.png" alt="service"> </div>
                    <div class="col-md-3 col-sm-6 hidden-xs"><img src="images/login/screen-2.png" alt="service"> </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-reviews1" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-reviews1" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div>
            </div>
          </div>
        </div>
      </div>
  </div>
    </div>
  </div>
 -->

  <div class="happy-clients padding-top-bottom" ng-if="dfgdfgdfg">
    <div class="container">
      <div class="title-section">
        <h2>Testimonial</h2>
      </div>
      <div class="rc-carousel owl-carousel owl-theme owl-responsive-992 owl-loaded" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="true" data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="false" data-r-x-small-dots="true" data-r-small="1" data-r-small-nav="false" data-r-small-dots="true" data-r-medium="1" data-r-medium-nav="true" data-r-medium-dots="false">
      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-5850px, 0px, 0px); transition: 2s; width: 8190px;"><div class="owl-item cloned" style="width: 1140px; margin-right: 30px;"><div class="single-client-item">
          <p>Dorem ipsum dolor sit amet, duis metus ligula amet in purus vitae donec vestibulum enimtincidunt massa  convallis ipsum pede augue nunc distinctio.</p>
          <h3>Martain Brain</h3>
          <span class="designation">CEO</span> </div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 30px;"><div class="single-client-item">
          <p>Dorem ipsum dolor sit amet, duis metus ligula amet in purus vitae donec vestibulum enimtincidunt massa  convallis ipsum pede augue nunc distinctio.</p>
          <h3>Martain Brain</h3>
          <span class="designation">CEO</span> </div></div><div class="owl-item" style="width: 1140px; margin-right: 30px;"><div class="single-client-item">
          <p>Dorem ipsum dolor sit amet, duis metus ligula amet in purus vitae donec vestibulum enimtincidunt massa  convallis ipsum pede augue nunc distinctio.</p>
          <h3>Martain Brain</h3>
          <span class="designation">CEO</span> </div></div><div class="owl-item" style="width: 1140px; margin-right: 30px;"><div class="single-client-item">
          <p>Dorem ipsum dolor sit amet, duis metus ligula amet in purus vitae donec vestibulum enimtincidunt massa  convallis ipsum pede augue nunc distinctio.</p>
          <h3>Martain Brain</h3>
          <span class="designation">CEO</span> </div></div><div class="owl-item" style="width: 1140px; margin-right: 30px;"><div class="single-client-item">
          <p>Dorem ipsum dolor sit amet, duis metus ligula amet in purus vitae donec vestibulum enimtincidunt massa  convallis ipsum pede augue nunc distinctio.</p>
          <h3>Martain Brain</h3>
          <span class="designation">CEO</span> </div></div><div class="owl-item cloned active" style="width: 1140px; margin-right: 30px;"><div class="single-client-item">
          <p>Dorem ipsum dolor sit amet, duis metus ligula amet in purus vitae donec vestibulum enimtincidunt massa  convallis ipsum pede augue nunc distinctio.</p>
          <h3>Martain Brain</h3>
          <span class="designation">CEO</span> </div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 30px;"><div class="single-client-item">
          <p>Dorem ipsum dolor sit amet, duis metus ligula amet in purus vitae donec vestibulum enimtincidunt massa  convallis ipsum pede augue nunc distinctio.</p>
          <h3>Martain Brain</h3>
          <span class="designation">CEO</span> </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
    </div>
  </div>

  <!-- Happy clients End Here -->   
  <!-- Footer section Start Here -->
  <div class="footer-section-area padding-top-bottom">
    <div class="containercustom">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div class="title">
            <h3>About EDIFICE</h3>
          </div>
          <div class="our-service">
            <p>Today, Edifice has successfully executed large projects covering more than 1300 square meters at single shows; High end stands for prestigious brands like Aston Martin and highly customized stands for Jewellery and high net worth products. Our range of experience covers automobile, real estate, jewellery, security products, defense, interior fittings, food and communication industries including cable and satellite.<br>
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">&nbsp;</div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="title">
            <h3>Our Company</h3>
          </div>
          <div class="popular-post">
            <ul>
              <li> <a href="">Home</a> </li>
              <li><a href="">About Us</a> </li>
              <li><a href="">Careers</a> </li>
              <li><a href="">News & Events</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer section End Here --> 
  <!-- Copyright section Start Here -->
  <div class="copy-right-area">
    <div class="containercustom">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="copy-right">
            <p>© 2017 EDIFICE, ALL RIGHTS RESERVED.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="social-media">
            <ul>
              <li><a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
              <li><a href="" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> </a></li>
              <li><a href="" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright section End Here --> 
</div>
<!-- model -->
<div class="modal fade" id="myModal" role="dialog" style="z-index:10000000">
  <div class="modal-dialog" style="width:45% !important;"> 
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#333030">
        <button type="button" class="close" style="color: white;" data-dismiss="modal">&times;</button>
        <p align="center" style="color:white;font-size:17pt">Pre-bookings are open for XSEED Minicampus in limited numbers for Academic Year 2017-18. Fill details below for an XSEED representative can get in touch with you. </p>
      </div>
      <div class="modal-body">
      </div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="modal-footer">
        <div class="col-md-12 col-sm-12" align="right">
          <button type="submit" id="main_submit" name="main_submit" onclick="" class="btn btn-success login">Submit</button>
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>
  </div>
</div>

<!-- end model --> 
<!--2nd --> 
<!-- model -->
<div class="modal" tabindex="-1" id="myModal-1" role="dialog">
  <div class="loader-overlay" ng-if="showOverlay"></div>
  <div class="modal-dialog" style="width:45% !important;">     
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-disabled="show-close==true" ng-click="closePopup()">&times;</button>
      </div>
      <div class="modal-body" style="padding-bottom: 40px;">
        <div class="panel with-nav-tabs panel-default">
          <div style="background-color:#273238">
            <ul class="nav nav-tabs">
              <li ng-class="{active:tabActive == 'miniCampusLogin'}"><a style="cursor:pointer;" ng-click="changeTab('miniCampusLogin')"><span style="color:#BB141A"> Mini Campus Login </span> </a></li>
              <li ng-class="{active:tabActive == 'adminLogin'}" style="text-align:right"><a style="cursor:pointer;" ng-click="changeTab('adminLogin')"><span style="color:#BB141A"> Admin SignIn</span></a></li>
            </ul>
          </div>
          <form name="loginform" novalidate>
          <div class="tab-content">
            <div class="tab-pane fade in active" style="padding:15px 15px;">

              <div ng-if="showPage == 'initialLoginPage'">
                
                  <div class="form-login">
                    <div style="text-align:center;"class="subheading"><span style="font-size:16pt;">Log In to Mini Campus</span><br>
                      <span class="headingsub-text">Enter email/phone to verify</span></div>
                    <hr>
                    <flash-message show-close="true"></flash-message>
                    <div class="select-top">
                      <select class="form-control" style="width:100%;" name="country" class="login-select ip-login-form-padding" ng-model="logindetails.country" ng-change="selectBoxChangedInCountry(logindetails.country)" ng-options="country.dbValue as country.displayValue for country in CountryList" required>
                       <!--  <option value=""></option>
                        <option value="+91" selected>India</option>
                        <option value="+977">Nepal</option>
                        <option value="+974">Quatar</option>
                        <option value="+971">United Arab Emirates</option> -->
                      </select>
                      <span class="error-msg text-danger" ng-show="formSubmitted && loginform.country.$error.required" style="font-size:9pt">Required</span>
                    </div>
                    <div style="padding-top:5%">
                    <input type="text" class="form-control" style="width:100%;" name="emailphone" class="login-input ip-login-form-padding" ng-model="logindetails.parameter" placeholder="Email/Phone No." required />
                    <span class="error-msg text-danger" ng-show="formSubmitted && loginform.emailphone.$error.required" style="font-size:9pt">Required</span>
                  </div>
                    <!-- <div> --> <!-- class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
                     <!--  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">&nbsp;</div> -->
                      <div class="pull-left" style="padding-top:5%;padding-bottom:5%">
                        <input type="checkbox" name="acceptedTerms" ng-model="logindetails.acceptedTermsmodel">

                         <a target="_blank" style="cursor:pointer;" ng-href="{{url}}" ng-click="AcceptTermsConditions()">&nbsp;&nbsp;<u>I agree to terms and conditions</u></a>
                        <!-- <a data-toggle="modal" data-target="#termspolicy">&nbsp;&nbsp;<u>Terms & Conditions</u></a> -->
                     </div>
                     <div class="pull-right" style="padding-top:5%">
                        <button class="btn-success" ng-click="submitInitialLogin(logindetails)">Login</button>
                      </div>
                      <!-- </div> -->
                  </div>
                  </div>

              <div ng-if="showPage == 'otpPage'">
                  <div class="form-login">
                    <div style="text-align:center;"class="subheading"><span style="font-size:16pt;">Log In to Mini Campus</span><br>
                      <span class="headingsub-text">Enter OTP received to register</span></div>
                    <hr>
                    <flash-message show-close="true"></flash-message>
                  <!-- </div> -->
                  <!--Ethernet-->
                  <div align="left">
                    <select class="login-select login-form-padding form-control" style="width:100%;" ng-model="otpData.country" ng-options="country.dbValue as country.displayValue for country in CountryList" id="sel1" disabled>
                        <!-- <option value="" disabled selected>select country</option> -->
                        <!-- <option value="+91" selected>India</option>
                        <option value="+977">Nepal</option>
                        <option value="+974">Quatar</option>
                        <option value="+971">United Arab Emirates</option> -->
                    </select>
                  </div>
                   <div style="padding-top:5%">
                    <input type="text" class="login-input login-form-padding form-control" style="width:100%;" placeholder="lorem.ipsum@gmail.com" ng-model="otpData.email" disabled/>
                  </div>
                     <div style="padding-top:5%">
                      <div class="row form-inline">
                        <div class="col-md-12">
                        <div class="col-md-8" style="padding-left: 50%;">
                          <label for="OTP">Enter OTP</label>
                        </div>
                        <div class="col-md-4">
                           <input type="text" ng-model="otpdata" class="form-control" >
                           <br>
                          <button ng-click="sendOtp()" style="font-size:9pt;background-color: Transparent;border:none;">Resend OTP</button>&nbsp; <i class="fa fa-info-circle" aria-hidden="true"></i> <br>
                        </div>
                      </div>
                    </div>
<!--                     <div class="col-xs-12 form-inline">
                      <div class="col-xs-2">&nbsp;</div>
                      <div class="col-xs-4" align="right" style="margin-top:2%">
                        <label for="OTP" class="headingsub-text">Enter OTP</label>
                        &nbsp;&nbsp;&nbsp;</div>
                      <div class="col-xs-6">
                        <div class="form-group">
                          <input type="text" ng-model="otpdata" class="form-control" >
                          <br>
                          <span ng-click="sendOtp()">Resend OTP</span>&nbsp; <i class="fa fa-info-circle" aria-hidden="true"></i> <br>
                          <span ng-if="showOtpRequiredError && !otpdata">Required</span>&nbsp; <i class="fa fa-info-circle" aria-hidden="true"></i> <br>
                          <br>
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                   <div class="pull-right" style="padding-top:5%">
                      <button class="btn-success" ng-click="verifyOtp(otpdata)">Next</button>
                      </div>
                      <div class="pull-left" style="padding-top:5%;padding-bottom:5%">
                      <button class="btn-warning" ng-click="back()">Back</button>
                     </div>
                </div>
                 <!--  <div>
                      <div align="right"><a ng-click="verifyOtp(otpdata)">Next</a></div>
                   </div> -->
              </div>

              <div ng-if="showPage == 'resetPasswordPage'">
                <div class="form-login">
                  <div style="text-align:center;"class="subheading"><span style="font-size:16pt;">Log In to Mini Campus</span><br>
                      <span class="headingsub-text">Create Password</span></div>
                    <hr>
                    <flash-message show-close="true"></flash-message>
                 <!--  <h3>Log In to DX<br>
                    <span class="headingsub-text">Create Password</span></h3>
                  <hr> -->
                  <div style="padding-bottom: 5%;padding-top: 5%;">
                  <input type="text" class="login-input ip-login-form-padding form-control" ng-model="resetPassword.password" placeholder="Password" name="createpassword" required/>
                  <span class="error-msg text-danger" ng-show="formSubmitted && loginform.createpassword.$error.required" style="font-size:9pt">Required</span>
                  </div>
                  <div>
                  <input type="text" class="login-input ip-login-form-padding form-control" compare-to="resetPassword.password"  ng-model="resetPassword.confirmPassword" placeholder="Confirm Password"  name="createconfirmpassword" required/>
                  <span class="text-danger" style="font-size:9pt" ng-show="formSubmitted && !loginform.createconfirmpassword.$error.required && loginform.createconfirmpassword.$error.compareTo && loginform.createconfirmpassword.$dirty">Password not matching</span>
                  <span class="error-msg text-danger" ng-show="formSubmitted && loginform.createconfirmpassword.$error.required" style="font-size:9pt">Required</span>
                </div>
                <div class="pull-right" style="padding-top:5%">
                  <button class="btn-success" ng-click="resetPassword(resetPassword.password)">Next</button>
                  </div>
                  <div class="pull-left" style="padding-top:5%;padding-bottom:5%">
                  <button class="btn-warning" ng-click="back()">Back</button>
                 </div>
                  <!-- <div>
                      <div align="right"><a ng-click="resetPassword(resetPassword.password)">Next</a></div>
                  </div> -->
                </div>
              </div>

              <div ng-if="showPage == 'loginPasswordPage'">
                 <div class="form-login">
                  <flash-message show-close="true"></flash-message>
                  <!-- <form name="loginform" novalidate> -->
                    <div>
                      <label style="padding-top:2%;"><b>Email</b></label>
                      <input type="text" style="padding-bottom:3%;" name="name" ng-model="logindata.email" class="tb form-control" required placeholder="User Email" disabled>
                      <label style="padding-top:2%;"><b>Password</b></label>
                      <br>
                      <input type="{{inputType}}" name="password" autocomplete="off" ng-model="logindata.password" class="tb form-control" required placeholder="Password">
                      <div class="pull-right">
                      <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                      <label for="checkbox" ng-if="passwordCheckbox">Show password</label>
                      <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                      </div>  
                    <a href="" ng-click="forgotPassword()"><span style="font-size:9pt"><u>Forgot Password</u></span></a>
                  <!-- </form> -->
                  <div>
                    <div class="pull-right" style="padding-top:5%;padding-left: 78%">
                      <button type="submit" ng-click="login(logindata)" class="btn-success login">Submit</button>
                      </div>
                    <div class="pull-left" style="padding-top:5%;padding-bottom:5%">
                      <button class="btn-warning" ng-click="back()">Back</button>
                    </div>
                  </div>
                  </div>
              </div>

              <!-- <div id="Booking" class="tabcontent" ng-if="showPage == 'dsfsdfsd'">
                <form name="loginform" id="main_form"  novalidate>
                  <div class="container-1">
                    <label><b>User Name</b></label>
                    <select name="country" class="login-select ip-login-form-padding" ng-model="logindetails.country" id="sel1" required>
                      <option value="" disabled selected>select country</option>
                      <option value="+91">India</option>
                      <option value="+977">Nepal</option>
                      <option value="+974">Quatar</option>
                      <option value="+971">United Arab Emirates</option>
                    </select>
                    <span class="error-msg" ng-show="formSubmitted && loginform.country.$error.required">Required</span>
                    <label><b>Password</b></label>
                    <br>
                    <input type="text" name="emailphone" class="login-input ip-login-form-padding" ng-model="logindetails.parameter" placeholder="Email/Phone No." required />
                    <div align="right" style="margin-top:2%;">
                      <button type="submit" id="main_submit" name="main_submit" ng-click="submitInitialLogin()" class="btn btn-primary login">Next</button>
                    </div>
                  </div>
                </form>
              </div> -->


            </div>



          </div>
        </form>
        </div>
      </div>
       <!-- <div class="modal-footer">
          <a click="submitInitialLogin(logindetails)">Next</a>             
      </div>  -->
    </div>
  </div>
</div>

   
   <div class="modal fade" id="deleteallstudents" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width:600px">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h3></h3>
              </div>
              <form name="" id="" method="post">
                <input class="form-control" readonly="readonly" type="hidden" id="getid">
                <div class="modal-body">
                    <p ng-if="deleteSchoolApiError" style="color:red;">{{deleteTeacherApiError}}</p>
                    <p align="center"><b>ARE YOU SURE YOU WANT TO DELETE ALL STUDENTS FROM THIS SCHOOL?</b></p>
                </div>
                <div class="modal-footer">
                      <a class="btn btn-danger" ng-click="deleteAllStudentsBySchool();">Delete</a>                
                    <a class="btn btn-info" data-dismiss="modal">Close</a>                
                </div>
              </form>
          </div>
      </div>
  </div>





<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 -->